body{
    background-color: black;/*cor do background e cor das letras*/
    color: #1bb21bcc;
    margin-left: 0;
}
main{
    display: flex;/*centralização da barra de pesquisa*/
    justify-content: center;
}
header{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    padding-left: 575px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav ul li{
    padding-left: 100px;
}
#barraPesquisa{ 
    border-radius: 40px;/*borda redonda da barra de pesquisa*/
    border: 1px solid #ccc;
    padding: 8px;
    width: 400px;
    background-color:rgb(54, 254, 54);
}

#tituloPesquisa{
    font-size: 90px;
    text-align: center;
    margin-top: 170px;
}
#botaoPesquisar{
    border-radius: 50px;
    margin-left: 5px;
}
footer{
    padding-top: 160px;
}
